<div>
    <h2 id="page-heading">
        <span jhiTranslate="gnsgSchoolApp.aSPath.home.title">AS Paths</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-as-path" [routerLink]="['/as-path/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gnsgSchoolApp.aSPath.home.createLabel">
            Create a new AS Path
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gnsgSchoolApp.aSPath.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="aSPaths?.length === 0">
        <span jhiTranslate="gnsgSchoolApp.aSPath.home.notFound">No aSPaths found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aSPaths && aSPaths.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="program"><span jhiTranslate="gnsgSchoolApp.aSPath.program">Program</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="family"><span jhiTranslate="gnsgSchoolApp.aSPath.family">Family</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="gnsgSchoolApp.aSPath.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span jhiTranslate="gnsgSchoolApp.aSPath.address">Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="gnsgSchoolApp.aSPath.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="gnsgSchoolApp.aSPath.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remark"><span jhiTranslate="gnsgSchoolApp.aSPath.remark">Remark</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bookingDate"><span jhiTranslate="gnsgSchoolApp.aSPath.bookingDate">Booking Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="desc"><span jhiTranslate="gnsgSchoolApp.aSPath.desc">Desc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="gnsgSchoolApp.aSPath.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="gnsgSchoolApp.aSPath.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="gnsgSchoolApp.aSPath.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedDate"><span jhiTranslate="gnsgSchoolApp.aSPath.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span jhiTranslate="gnsgSchoolApp.aSPath.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aSPath of aSPaths ;trackBy: trackId">
                    <td><a [routerLink]="['/as-path', aSPath.id, 'view']">{{ aSPath.id }}</a></td>
                    <td jhiTranslate="{{ 'gnsgSchoolApp.PATHTYPE.' + aSPath.program }}">{{ aSPath.program }}</td>
                    <td>{{ aSPath.family }}</td>
                    <td>{{ aSPath.phoneNumber }}</td>
                    <td>{{ aSPath.address }}</td>
                    <td>{{ aSPath.startDate | date:'mediumDate' }}</td>
                    <td>{{ aSPath.endDate | date:'mediumDate' }}</td>
                    <td>{{ aSPath.remark }}</td>
                    <td>{{ aSPath.bookingDate | date:'medium' }}</td>
                    <td>{{ aSPath.desc }}</td>
                    <td jhiTranslate="{{ 'gnsgSchoolApp.EventStatus.' + aSPath.status }}">{{ aSPath.status }}</td>
                    <td>{{ aSPath.createdDate | date:'medium' }}</td>
                    <td>{{ aSPath.createdBy }}</td>
                    <td>{{ aSPath.lastModifiedDate | date:'medium' }}</td>
                    <td>{{ aSPath.lastModifiedBy }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/as-path', aSPath.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/as-path', aSPath.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aSPath)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="aSPaths && aSPaths.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
